@import './variables.scss';

@font-face {
  font-family: 'Supply Mono';
  src: url(/fonts/PPSupplyMono-Ultralight.otf) format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Supply Mono';
  src: url(/fonts/PPSupplyMono-Regular.otf) format('opentype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  background-color: $light;
	color: $dark;
  font-family: 'Supply Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  max-width: 980px;
  margin: auto;

  --w3m-font-family: 'Supply Mono', monospace;
  --w3m-background-color: #FD6565;
}

p {
  line-height: 1.2;
}

a {
  color: $accent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.padded {
  padding: $space-md;
}