// colors
$dark: #2E2E2E;
$light: #FFFFFF;
$accent: #FD6565;
$light-x: #F0F0F0;
$dark-x: #6E6E6E;


// spacing
$space-sm: 0.5rem;
$space-md: 2 * $space-sm;
$space-lg: 2 * $space-md;

// radius
$radius: 3px;
